<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container col-6">
    <h3 class="display-4" class="p-2 bg-light border">Add New Movie List</h3>
    <hr class="my-4">
    <%= render 'form' %>
    <br>
    <div class="btn btn-secondary">
      <%= link_to "Back to Lists", lists_path, class: "text-white text-decoration-none"%>
    </div>
  </div>
</div>
