// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.banner {
  background-image: asset-url("movie_2.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  }
